{% extends 'core/base.html' %}

{% block content %}
  <h1>My Events</h1>

  <h2>Upcoming & Ongoing Events</h2>
  {% if upcoming_events %}
    <ul>
      {% for event in upcoming_events %}
        <li>
          <h3>{{ event.title }}</h3>
          <p><strong>Date:</strong> {{ event.event_date|date:"F j, Y" }}</p>
          <p><strong>Type:</strong> {{ event.get_event_type_display }} | <strong>Category:</strong> {{ event.get_category_display }}</p>
          <p><strong>Location:</strong> {{ event.location|default:"N/A" }}</p>
          <p><strong>Days until event:</strong> {{ event.days_until }}</p>

          {% if event.event_image %}
            <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="max-width:300px; height:auto;">
          {% endif %}

          {% if event.url %}
            <p><strong>Event Link:</strong> <a href="{{ event.url }}" target="_blank" rel="noopener noreferrer">{{ event.url }}</a></p>
          {% endif %}

          <p>{{ event.description|linebreaks }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No upcoming events.</p>
  {% endif %}

  <h2 class ="text-center">Past Events</h2>
  {% if past_events %}
    <ul>
      {% for event in past_events %}
        <li>
          <h3>{{ event.title }}</h3>
          <p><strong>Date:</strong> {{ event.event_date|date:"F j, Y" }}</p>
          <p><strong>Type:</strong> {{ event.get_event_type_display }} | <strong>Category:</strong> {{ event.get_category_display }}</p>
          <p><strong>Location:</strong> {{ event.location|default:"N/A" }}</p>

          {% if event.event_image %}
            <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="max-width:300px; height:auto;">
          {% endif %}

          {% if event.url %}
            <p><strong>Event Link:</strong> <a href="{{ event.url }}" target="_blank" rel="noopener noreferrer">{{ event.url }}</a></p>
          {% endif %}

          <p>{{ event.description|linebreaks }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p claass = "fw bold fs-1">No past events.</p>
  {% endif %}

{% endblock %}
